/*     <!-- ========= HEADER ====== --> */

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        margin-left: auto;
        margin-right: auto;
    }

    .page-header {
        padding-bottom: 24px;
    }

    .page-header-container {
        display: flex;
        align-items: center;
    }

    .margin-logo {
    margin-right: 76px;
    }

    .address {
        display: flex;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        align-items: center;
    }

    .tel,
    .email {
        font-size: 16px;
        line-height: 1.5;
    }


}