/* <!-- ========= HEADER ====== --> */

.container {
    width: 100%;
    padding: 0px 16px; 
}

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-header {
    background-image: var(--dark-background-text);
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.menu-list {
    display: none;
}

.address {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.margin-logo {
    margin-right: 76px;
}

.logo-first {
    color: var(--secondary-accent-color);
}

.logo-second {
    color: var(--primary-text-color);
}

.mobile-button {
    position: absolute;
    right: 0;
    padding-left: 0;
    padding-right: 16px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: transparent;
    border: none;


}

.mobile-button-icon {
    stroke: var(--primary-text-color);
}

.mobile-button:is(:hover, :focus) .mobile-button-icon {
    stroke: #4D5AE5;
}

/* ====== Mobile menu ===== */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 512;
    width: 100%;
    height: 100vh;
    opacity: 1;

    transition: opacity 800ms cubic-bezier(0.23, 1, 0.320, 1), visibility 100ms cubic-bezier(0.23, 1, 0.320, 1);

}

.container.mobile-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 51px;
    padding-left: 40px; 
    width: 100%;
    height: 100%;
    background-color: #fff;


    transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);

}

.mobile-menu.is-hidden .mobile-container {
    transform: scale(0.7);
}

.mobile-close-btn {
    position: absolute;
    align-items: center;
    top: 24px;
    right: 16px;
    
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mobile-close-btn:is(:hover, :focus) {
    background-color: var(--primary-accent-color);
}

.mobile-menu-list {
    margin-top: 0;
    margin-bottom: 0;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--primary-accent-color);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-flex {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.mobile-address {
    max-width: 337px;
    margin-top: auto;
    margin-bottom: 48px;
}

.mobile-address-list {
    margin: 0 0;
}

.mobile-tel {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.11;
    color: var(--secondary-text-color);
}

.mobile-address-item.phone {
    margin-bottom: 40px;
}

.mobile-email {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.mobile-email:is(:hover, :focus) {
    color: var(--secondary-accent-color);
}

.mobile-tel:is(:hover, :focus) {
    color: var(--secondary-accent-color);
}

.mobile-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 328px;
    margin-right: auto;
    margin-left: auto;
}

.mobile-social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
    border-color: transparent;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.mobile-social-button:is(:hover, :focus) {
    background-color: var(--primary-accent-color);
}

.mobile-social-icon {
    fill: var(--dark-background-text);
}


/* <!-- ==========HERO ========== --> */

.hero {
    background-image: 
    linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
    url(../images/mobile-images/heroimage.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    max-width: 100%;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
    padding-left: 0;
    padding-right: 0;

}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:
    linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)),
    url(../images/mobile-images/heroimage@2x.jpg);
  }
}

.hero-title {
    margin-bottom: 72px;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-background-text);
}

.hero-btn {
    display: flex;
    align-items: center;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);
    cursor: pointer;
    background-color: var(--secondary-accent-color);

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--primary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}




/* ========= Modal window ========= */

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    overflow: scroll;

    transition: opacity 800ms cubic-bezier(0.23, 1, 0.320, 1), visibility 100ms cubic-bezier(0.23, 1, 0.320, 1);
}

.modal-window {
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    max-width: 392px;
    width: 90vw;
    padding: 24px 16px;
    border-radius: 4px;
    background-color: #FCFCFC;

    transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
}

/* <!-- =======FEATURES ========= --> */

.features-images {
    display: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
}

.feature-name {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--primary-text-color)
}

.feature-description {
    color: var(--secondary-text-color);
}


/* <!-- =======SERVICES======= --> */

.services {
    display: none;
}


/* <!-- =============TEAM MEMBERS========== --> */

.team {
    background-color: var(--light-background-color);
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.container-small {
    max-width: 294px;
    margin-left: auto;
    margin-right: auto;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 72px;
}


.team-card {
    background-color: #FFFFFF;
    padding-bottom: 32px;
    padding-top: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-name {
    margin-bottom: 8px;
    text-align: center;
    color: var(--primary-text-color);
}

.team-position {
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    margin-right: auto;
    margin-left: auto;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
    border-color: transparent;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.social-button:is(:hover, :focus) {
    background-color: var(--primary-accent-color);
}

.social-icon {
    fill: var(--dark-background-text);
}


/* <!-- =============== Customers ============= --> */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0; 
    column-gap: 16px;  
    row-gap: 72px;
}


.customers-link {
    display: flex;
    padding: 16px 32px;
    width: 190px;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.customers-title {
    margin-bottom: 72px;

    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.customers-link:is(:hover, :focus) {
    border-color: var(--secondary-accent-color);
}

.customers-icon {
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--secondary-accent-color);
}


/* <!-- ============FOOTER ============--> */

.page-footer {
    background-color: var(--primary-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-logo-first {
    padding-left: 76px;
    color:var(--secondary-accent-color);
}

.footer-logo-second {
    color:var(--light-background-color);
}

.footer-description {
    width: 268px;
    margin-top: 16px;

    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.media-footer {
    width: 208px;
}

.footer-social-title {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-background-text);
} 

.footer-social-list {
    display: flex;
    width: 208px;
    margin-left: -16px;
}

.footer-social-link {
    flex-basis: calc(100% / 4 - 16px);
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-social-icon {
    margin-left: auto;
    margin-right: auto;
    fill: var(--dark-background-text);
}

.footer-social-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.subscribe-footer {
    max-width: 430px;
    width: 100%;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-background-text);
    margin-bottom: 16px;
}

.subscribe-field {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--primary-text-color);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);

    transition: border var(--animation-dur-func);
}

.subscribe-field::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-field:focus {
    outline: none;
    border: 1px solid var(--secondary-accent-color);
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    padding-top: 8px;
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    align-items: center;
    text-align: start;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);
    cursor: pointer;
    background-color: var(--secondary-accent-color);

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--primary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
    position: absolute;
    margin-left: 16px;
    fill: var(--dark-background-text);
}


























