h1,h2,h3,h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-accent-color: #404BBF;
    --secondary-accent-color: #4D5AE5;
    --dark-background-text: #FFFFFF;
    --light-background-color: #F4F4FD;
    --animation-dur-func: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* ======= COMPONENTS ======== */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description {
    font-size: 16px;
    line-height: 1.5;
}

.margin-list {
    margin-bottom: 0;
    margin-top: 0;
}

/* =====/components========= */

/* =================== HEADER =================== */

/* =================== HERO =================== */

/* =================== FEATURES =================== */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
}

.features-item {
    flex-basis: calc( 100% / 4 - 24px );
    margin-left: 24px;
}

.feature-name {
    margin-bottom: 8px;

    color: var(--primary-text-color)
}

.feature-description {
    color: var(--secondary-text-color);
}

.features-images {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;

    background-color: var(--light-background-color);
}

/* =================== SERVICES =================== */

.services {
    padding-bottom: 120px;
}

.services-list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    gap: 24px;
}

.services-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

/* alternative list width: */

/* .services-item {
    flex-basis: calc( (100%-2) * 48 / 3 ) ;
}  */

/* ================= TEAM MEMBERS ============== */

.team {
    background-color: var(--light-background-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.team-item:not(:nth-child(4n)) {
    margin-right: 24px;
}

.team-card {
    background-color: #FFFFFF;
    padding-bottom: 32px;
    padding-top: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-name {
    margin-bottom: 8px;
    text-align: center;
    color: var(--primary-text-color);
}

.team-position {
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 232px;
    margin-right: auto;
    margin-left: auto;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-accent-color);
    border-color: transparent;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.social-button:is(:hover, :focus) {
    background-color: var(--primary-accent-color);
}

.social-icon {
    fill: var(--dark-background-text);
}

/* =========== Customers ============ */

.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-title {
    margin-bottom: 72px;

    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.customers-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;  
    gap: 24px;  
}

.customers-item {
}

.customers-link {
    display: flex;
    max-width: 168px;
    padding: 16px 32px;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.customers-link:is(:hover, :focus) {
    border-color: var(--secondary-accent-color);
}

.customers-icon {
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--secondary-accent-color);
}

/* =========== FOOTER ============ */

.page-footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
}

.media-footer {
    width: 208px;
    margin-left: 120px;
}

.footer-logo-first {
    color:var(--secondary-accent-color);
}

.footer-logo-second {
    color:var(--light-background-color);
}

.footer-description {
    width: 264px;
    margin-top: 16px;

    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer-social-title {
    margin-bottom: 16px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-background-text);
}

.footer-social-list {
    display: flex;
    width: 208px;
    margin-left: -16px;
}

.footer-social-link {
    flex-basis: calc(100% / 4 - 16px);
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-social-icon {
    margin-left: auto;
    margin-right: auto;
    fill: var(--dark-background-text);
}

.footer-social-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.subscribe-footer {
    margin-left: 80px;
    width: 453px;
}

.subscribe-form {
    display: flex;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-background-text);
    margin-bottom: 16px;
}

.subscribe-field {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-right: 24px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--primary-text-color);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);

    transition: border var(--animation-dur-func);
}

.subscribe-field::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-field:focus {
    outline: none;
    border: 1px solid var(--secondary-accent-color);
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    /* margin-top: 16px;
    margin-left: 24px; */
    padding-top: 8px;
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    align-items: center;
    text-align: start;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);
    cursor: pointer;
    background-color: var(--secondary-accent-color);

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--primary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-icon {
    position: absolute;
    margin-left: 16px;
    fill: var(--dark-background-text);
}


/* ======= PORTFOLIO PAGE =========*/

/* ====== Filter buttons ======= */

.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-item:not(:last-child) {
    margin-right: 24px;
}

.filter-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-color);
    background-color: var(--light-background-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1), color 250ms cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--dark-background-text);
    background-color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* <!-- =========== Work examples ============== --> */

.work-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 72px;
}

.work-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.work-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 48px;
}

.work-link {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.work-link:is(:hover, :focus) {
    border: var(--light-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-card {
    padding: 32px 16px;
    background-color: var(--dark-background-text);
    border: 1px solid #E7E9FC;
    border-top: transparent;
}

.work-name {
    margin-bottom: 8px;
    color: var(--primary-text-color);
}

.work-description {
    color: var(--secondary-text-color);
}

.card-overlay {
    position: relative;
    max-width: 360px;
    max-height: 300px;
    overflow: hidden;
}

.card-overlay::before {
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-accent-color);
    transform: translateY(100%);
    transition: transform 900ms cubic-bezier(0.19, 1, 0.22, 1);
}

.work-link:is(:hover, :focus) .card-overlay::before {
    transform: translateY(0);
    opacity: 1;
}

.work-link:is(:hover, :focus) .card-text {
    opacity: 1;
    transition: transform 800ms, opacity 800ms;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 296px;
    opacity: 0;


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-background-color);
}

/* ====== Modal window ========= */


.modal-background.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.7);
}


.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.modal-close-button:hover {
    background-color: var(--primary-accent-color);
}

.modal-close-button:hover .modal-image {
    fill: #fff;
}

.modal-image:hover {
    fill: #000;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.modal-text {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
} 

.modal-text-check {
    margin-bottom: 0px;
}


.modal-field-description:not(:nth-child(5)) {
    margin-bottom: 8px;
}  


.modal-field {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);

    transition: border var(--animation-dur-func);
}

.modal-field:focus {
    outline: none;
    border: 1px solid var(--secondary-accent-color);
}

.modal-icon-wrapper {
    position: relative;
}

.modal-field-icon {
    position: absolute;
    top: 0;
    left: 16px;
    fill: var(--primary-text-color);

    transition: fill var(--animation-dur-func);
}

.modal-field:focus + .modal-field-icon {
    fill: var(--secondary-accent-color);
}

.modal-comment {
    display: block;
    width: 100%;
    resize: none;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-comment:focus {
    outline: none;
    border: 1px solid var(--secondary-accent-color);
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.policy-check-description {
    position: relative;
    display: flex;
    margin-top: 16px;
    margin-bottom: 24px;
}

.policy-check-description::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 8px;
    content: '';
    cursor: pointer;
}

.check-icon-wrapper {
    position: relative;
}

.policy-icon {
    position: absolute;
    top: 4px;
    left: 3px;
    fill: var(--dark-background-text);
}

/* .policy-checkbox:checked + .policy-check-description::before {
    background-color: var(--primary-text-color);
    box-shadow: inset 0 0 0 3px var(--dark-background-text);
} */

.policy-checkbox:checked + .policy-check-description::before {
    background-color: var(--primary-accent-color);
}


.policy-checkbox:focus + .policy-check-description::before {
    border: 1px solid var(--secondary-accent-color);
}

.modal-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);
    cursor: pointer;
    background-color: var(--secondary-accent-color);

    transition: background-color 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: var(--primary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
